# Dependencies
node_modules
.pnp
.pnp.js
.npmrc
*-dump.sql

# Local env files
.env
.env.local
.env.staging
.env.production

# Turbo
.turbo

# Build Outputs
.next/
out/
build
dist
.t.ts
.*.sql

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
test-output.json

# Misc
.DS_Store
*.pem